import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { FormsModule } from '@angular/forms';
import { HttpModule } from '@angular/http';
import {AngularFireModule} from 'angularfire2';

import { AppComponent } from './app.component';


// Must export the config
export const firebaseConfig = {
 apiKey: "AIzaSyAgplzsHUtPP7LjhArJAoSwTm6BffM7PHM",
  authDomain: "kumquat-83546.firebaseapp.com",
  databaseURL: "https://kumquat-83546-default-rtdb.firebaseio.com",
  projectId: "kumquat-83546",
  storageBucket: "kumquat-83546.appspot.com",
};

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    FormsModule,
    HttpModule,
    AngularFireModule.initializeApp(firebaseConfig)
  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule { }



<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kumquat</title>

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href=
"https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster|Merriweather|Merriweather+Sans" rel="stylesheet"
>

  <base href="https://mensahgit.github.io/kumquat/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>Loading...</app-root>
</body>
</html>



<div class="totalwrapper">
<div class="jumbotron text-center">

<a href="http://localhost:4200/">  

<img src ="https://res.cloudinary.com/omari123/image/upload/v1608495523/logoTeeth_newGRN_elgjdn.png" alt="logoTeeth" width="165px" height="165px">
</a>
  <h1>KODOSUICHA DB APP:</h1>
  <p>MENSAHDESIGNS | CREATIVELY.</p>
</div>

<div class="container">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986171/kodo_bgs/1_ipwedx.png" alt="one">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986171/kodo_bgs/2_pby8yp.png" alt="two">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986171/kodo_bgs/3_tgouxy.png" alt="three">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986172/kodo_bgs/4_tqn8e9.png" alt="four">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986171/kodo_bgs/5_yytwxn.png" alt="five">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986172/kodo_bgs/6_h5sxlg.png" alt="six">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986171/kodo_bgs/7_hi0sce.png" alt="seven">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986172/kodo_bgs/8_gv3ccw.png" alt="eight">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986172/kodo_bgs/9_j6mflb.png" alt="nine">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986172/kodo_bgs/10_ppxanv.png" alt="ten">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986172/kodo_bgs/11_lbh05b.png" alt="eleven">
    </div>

    <div class="item">
      <img src="https://res.cloudinary.com/omari123/image/upload/v1607986176/kodo_bgs/12_kazru9.png" alt="twelve">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--
<div class="navbar navbar-default">
    <div class="row">
          <div class="navbar-left">
            <ul class="nav navbar-nav">
              <li class=""><a href="http://localhost:4200">MENSAHDESIGNS</a></li>
              </ul>
          </div>
            <div class="navbar-text navbar-left">
              <h2>KODOSUICHA:DB APP</h2>
            </div>
    </div>
</div>
-->
<br>

<div class="row">

  <div class="col-sm-6">
    <button (click)="changeState('add')"class="btn btn-success">Add Book</button>
  </div>
  <div class="col-sm-6">
    <label class="filterlabel">Filter Theme
      <select (change)="filterTheme (filteredTheme.value)" #filteredTheme>
        <option value="0">Select</option>
        <option *ngFor="let book of books" value="{{book.theme}}">{{book.theme}}</option>
      </select>
    </label>
  </div>
</div>


<div *ngIf="appState == 'add' " class="hamhead">

<!-- ADD FORM -->
 <!-- FORM VARS ORDER MATTERS: KEEP THE SAME ORDER AS FUNCTION -->
      <form (submit)="addBook(
        theme.value,
        issuedate.value,
        month.value,
        year.value,
        coverimg.value,
        objective.value,
        summary.value,
        bio.value,
        firstname.value,
        lastname.value,
        img.value,
        firstname.value,
    chilevocab.value,
    japanphrases.value,
    notes.value,
    pois.value,
    proverbs.value,
    articletypes.value,
    flavorcolors.value,
    kanjis.value,
    quotes.value,
    bcphotos.value,
    ecpphotos.value,
    fcphotos.value,
    ofdphotos.value,
    storya.value,
    storyb.value,
    storyc.value,
    storybl.value,
    storyli.value,
    storyaf.value
        )">
<table class="table">
   
    <tbody>
    <tr>
    <th>HAPPY</th>
    <th>NEW</th> 
    <th>YEAR:-)!</th>
  </tr>
      <tr class="success">
        <td> <label>Theme:
              <input type="text" placeholder="Theme" #theme>
          </label></td>
        <td> <label>Issue Date:
               <input type="text" placeholder="Issue Date" #issuedate>
          </label></td>
        <td> <label>Month:
              <input type="text" placeholder="Month" #month>
          </label></td>
      </tr>
      <tr class="danger">
        <td> <label>Year:
               <input type="text" placeholder="Year" #year>
          </label></td>
        <td> <label>Cover Image:
              <input type="text" placeholder="Cover Image" #coverimg>
          </label></td>
        <td> <label>Objective:
              <input type="text" placeholder="Objective" #objective>
          </label></td>
      </tr>
      <tr class="info">
        <td> <label>Summary:
              <input type="text" placeholder="Summary" #summary>
          </label></td>
        <td> <label>First Name:
               <input type="text" placeholder="First Name" #firstname>
          </label></td>
        <td> <label>Last Name:
             <input type="text" placeholder="Last Name" #lastname>
          </label></td>
      </tr>
       <tr class="danger">
        <td> <label>Author Image:
              <input type="text" placeholder="Author Image" #img>
            </label></td>
        <td> <label>Author Biography:
              <input type="text" placeholder="Author Bio" #bio>
            </label></td>
        <td> <label>One Fine Day Photo:
              <input type="text" placeholder="One Fine Day Photo" #ofdphotos>
          </label></td>
      </tr>
      <tr class="success">
        <td> <label>Chile Vocab:
              <input type="text" placeholder="Chile Vocab" #chilevocab>
          </label></td>
        <td> <label>Japan Phrase:
               <input type="text" placeholder="Japan Phrase" #japanphrases>
          </label></td>
        <td> <label>Notes:
              <input type="text" placeholder="Notes" #notes>
          </label></td>
      </tr>
      <tr class="danger">
        <td> <label>Person Of Interest:
               <input type="text" placeholder="Person Of Interest" #pois>
          </label></td>
        <td> <label>Proverbs:
              <input type="text" placeholder="Proverbs" #proverbs>
          </label></td>
        <td><label>Article Type:
              <input type="text" placeholder="Article Type" #articletypes> 
            </label>
        </td>
      </tr>
      <tr class="success">
        <td> <label>Flavor Color:
              <input type="text" placeholder="Flavor Color" #flavorcolors>
          </label></td>
        <td> <label>Kanji:
               <input type="text" placeholder="Kanji" #kanjis>
          </label></td>
        <td> <label>Quote:
              <input type="text" placeholder="Quotes" #quotes>
          </label></td>
      </tr>
      <tr class="danger">
        <td> <label>Front Cover Photo:
               <input type="text" placeholder="Front Cover Photo" #fcphotos>
          </label></td>
        <td> <label>Back Cover Photo:
              <input type="text" placeholder="Back Cover Photo" #bcphotos>
          </label></td>
        <td> <label>Everyday Chile Photo:
              <input type="text" placeholder="Everyday Chile Photo" #ecpphotos>
          </label></td>
        </tr>
      <tr class="success">
        <td> <label>Story A:<br/>
              <textarea placeholder="Paste Story A here..." #storya></textarea>
          </label></td>
        <td> <label>Story B:<br/>
               <textarea placeholder="Paste Story B here..." #storyb></textarea>
          </label></td>
        <td> <label>Story C:<br/>
              <textarea placeholder="Paste Story C here..." #storyc></textarea>
          </label></td>
      </tr>
      <tr class="success">
        <td> <label>Story Blender:<br/>
              <textarea placeholder="Paste Story Blender here..." #storybl></textarea>
          </label></td>
        <td> <label>Story Live:<br/>
               <textarea placeholder="Paste Story Live here..." #storyli></textarea>
          </label></td>
        <td> <label>Story AfterEffects:<br/>
              <textarea placeholder="Paste Story Aftereffects here..." #storyaf></textarea>
          </label></td>
      </tr>
    </tbody>
      
  </table>
<input type="submit" class="btn btn-primary" value="Submit">
<button (click)="changeState('default')" class="btn btn-danger">Cancel</button>
  </form>

</div> <!--NGIF ADD BUTTON PUSHED ENDS HERE; HAMHEAD CLASS ENDS HERE-->



<!--EDIT FORM GOES HERE-->

<div *ngIf="appState == 'edit' " class="hamhead">
  <!-- FORM VARS ORDER MATTERS: KEEP THE SAME ORDER AS FUNCTION -->
    <form (submit)="updateBook()">
<table class="table">
   
    <tbody>
    <tr>
    <th>EDIT</th>
    <th>FORM</th> 
    <th>HERE:</th>
  </tr>
      <tr class="danger">
        <td> <label>Theme:
              <input type="text" [(ngModel)]="activeTheme" name="activeTheme" placeholder="Theme" #theme>
          </label></td>
        <td> <label>Issue Date:
               <input type="text" [(ngModel)]="activeIssueDate" name="activeIssueDate" placeholder="Issue Date" #issuedate>
          </label></td>
        <td> <label>Month:
              <input type="text" [(ngModel)]="activeMonth" name="activeMonth" placeholder="Month" #month>
          </label></td>
      </tr>
      <tr class="danger">
        <td> <label>Year:
               <input type="text" [(ngModel)]="activeYear" name="activeYear" placeholder="Year" #year>
          </label></td>
        <td> <label>Cover Image:
              <input type="text" [(ngModel)]="activeCoverImage" name="activeCoverImage" placeholder="Cover Image" #coverimg>
          </label></td>
        <td> <label>Objective:
              <input type="text" [(ngModel)]="activeObjective" name="activeObjective" placeholder="Objective" #objective>
          </label></td>
      </tr>
      <tr class="danger">
        <td> <label>Summary:
              <input type="text" [(ngModel)]="activeSummary" name="activeSummary" placeholder="Summary" #summary>
          </label></td>
        <td> <label>First Name:
               <input type="text" [(ngModel)]="activeFirstName" name="activeFirstName" placeholder="First Name" #firstname>
          </label></td>
        <td> <label>Last Name:
             <input type="text" [(ngModel)]="activeLastName" name="activeLastName" placeholder="Last Name" #lastname>
          </label></td>
      </tr>
       <tr class="danger">
        <td> <label>Author Image:
              <input type="text" [(ngModel)]="activeAuthorImage" name="activeAuthorImage" placeholder="Author Image" #img>
            </label></td>
        <td> <label>Author Biography:
              <input type="text" [(ngModel)]="activeAuthorBio" name="activeAuthorBio" placeholder="Author Bio" #bio>
            </label></td>
        <td> <label>One Fine Day Photo:
              <input type="text" [(ngModel)]="activeOneFineDay" name="activeOneFineDay" placeholder="One Fine Day Photo" #ofdphotos>
          </label></td>
      </tr>
      <tr class="danger">
        <td> <label>Chile Vocab:
              <input type="text" [(ngModel)]="activeChileVocab" name="activeChileVocab" placeholder="Chile Vocab" #chilevocab>
          </label></td>
        <td> <label>Japan Phrase:
               <input type="text" [(ngModel)]="activeJapanPhrase" name="activeJapanPhrase" placeholder="Japan Phrase" #japanphrases>
          </label></td>
        <td> <label>Notes:
              <input type="text" [(ngModel)]="activeNotes" name="activeNotes" placeholder="Notes" #notes>
          </label></td>
      </tr>
      <tr class="danger">
        <td> <label>Person Of Interest:
               <input type="text" [(ngModel)]="activePersonOfInterest" name="activePersonOfInterest" placeholder="Person Of Interest" #pois>
          </label></td>
        <td> <label>Proverb:
              <input type="text" [(ngModel)]="activeProverb" name="activeProverb" placeholder="Proverb" #proverbs>
          </label></td>
        <td><label>Article Type:
              <input type="text" [(ngModel)]="activeArticleType" name="activeArticleType" placeholder="Article Type" #articletypes> 
            </label>
        </td>
      </tr>
      <tr class="danger">
        <td> <label>Flavor Color:
              <input type="text" [(ngModel)]="activeFlavorColor" name="activeFlavorColor" placeholder="Flavor Color" #flavorcolors>
          </label></td>
        <td> <label>Kanji:
               <input type="text" [(ngModel)]="activeKanji" name="activeKanji" placeholder="Kanji" #kanjis>
          </label></td>
        <td> <label>Quote:
              <input type="text" [(ngModel)]="activeQuote" name="activeQuote" placeholder="Quotes" #quotes>
          </label></td>
      </tr>
      <tr class="danger">
        <td> <label>Front Cover Photo:
               <input type="text" [(ngModel)]="activeFrontCoverPhoto" name="activeFrontCoverPhoto" placeholder="Front Cover Photo" #fcphotos>
          </label></td>
        <td> <label>Back Cover Photo:
              <input type="text" [(ngModel)]="activeBackCoverPhoto" name="activeBackCoverPhoto" placeholder="Back Cover Photo" #bcphotos>
          </label></td>
        <td> <label>Everyday Chile Photo:
              <input type="text" [(ngModel)]="activeEverydayChilePhoto" name="activeEverydayChilePhoto" placeholder="Everyday Chile Photo" #ecpphotos>
          </label></td>
        </tr>
      <tr class="danger">
        <td> <label>Story A:<br/>
              <textarea [(ngModel)]="activeStoryA" name="activeStoryA" placeholder="Paste Story A here..." #storya></textarea>
          </label></td>
        <td> <label>Story B:<br/>
               <textarea [(ngModel)]="activeStoryB" name="activeStoryB" placeholder="Paste Story B here..." #storyb></textarea>
          </label></td>
        <td> <label>Story C:<br/>
              <textarea [(ngModel)]="activeStoryC" name="activeStoryC"placeholder="Paste Story C here..." #storyc></textarea>
          </label></td>
      </tr>
      <tr class="danger">
        <td> <label>Story Blender:<br/>
              <textarea [(ngModel)]="activeStoryBlender" name="activeStoryBlender"placeholder="Paste Story Blender here..." #storybl></textarea>
          </label></td>
        <td> <label>Story Live:<br/>
               <textarea [(ngModel)]="activeStoryLive" name="activeStoryLive" placeholder="Paste Story Live here..." #storyli></textarea>
          </label></td>
        <td> <label>Story AfterEffects:<br/>
              <textarea [(ngModel)]="activeStoryAftereffects" name="activeStoryAftereffects" placeholder="Paste Story Aftereffects here..." #storyaf></textarea>
          </label></td>
      </tr>
    </tbody>
      
  </table>
 <input type="submit" class="btn btn-info" value="Submit">
<button (click)="changeState('default')" class="btn btn-danger">Cancel</button>
</form>
<br/>
<br/>

</div> <!--END .HAMHEAD CLASS DIV-->


<div *ngIf="appState == 'extend' " >
  <div class="row">
    <div class="col-md-12">

        <button (click)="changeState('default')" class="btn btn-danger">Go Back</button>

    </div>
  </div>


  <div *ngFor="let book of books">
      <div *ngIf="book.$key == activeKey" class="eggstender">
            <div class="row">
                      <div class="col-md-6">
                          <h3>{{book.theme}}</h3>
                          <p>Issue Date: {{book.issuedate}}</p>
                          <p>Year: {{book.year}}</p>
                          <p>Summary: {{book.summary}}</p>
                      </div>
                      <div class="col-md-6">
                          <h4>Book Information</h4>
                          <ul>
                            <li><b>Theme:</b> {{book.theme}}</li>
                            <li><b>Issue Date:</b> {{book.issuedate}}</li>
                            <li><b>Month:</b> {{book.month}}</li>
                            <li><b>Year:</b> {{book.year}}</li>
                            <li><b>Cover Image:</b> {{book.coverimg}}</li>
                            <li><b>Objective:</b> {{book.objective}}</li>
                            <li><b>Summary:</b> {{book.summary}}</li>
                            <li><b>ImageTest:</b>
                              <img src="{{book.coverimg}}" style="width:30px;height:30px;">
                            </li>
                            </ul>
                            
                      </div>

            </div>
      </div>
  </div><!-- *NGFOR BOOKS ENDS HERE -->

</div>


<div class="row">
  <div class="col-md-12">
    <div *ngIf="books">
      <table class="table">
        <thead >
          <tr class="mensah">
            <th>Theme:</th>
            <th>Issue Date:</th>
            <th>Year:</th>
            <th></th>
          </tr >
        </thead>
        <tbody>
          <tr *ngFor="let book of books" class="mensah">
            <td><h1>{{book.theme}}</h1></td>
            <td><h1>{{book.issuedate}}</h1></td>
            <td><h1>{{book.year}}</h1></td>
            <td>
              <button (click)="changeState('extend', book.$key)"class="btn btn-primary">More</button>
              <button (click)="showEdit(book)" class="btn btn-warning">Edit</button>
              <button (click)="deleteBook(book.$key)" class="btn btn-danger">Delete</button>

            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</div>




</div> <!--END CONTAINER DIV-->

</div> <!--END TOTAL WRAPPER DIV-->